.g-music-search {
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    flex-direction: column;
  }

  &__input {
    display: flex;
    align-items: center;

    .g-input {
      width: 100%;

      .g-icon {
        &-search {
          circle {
            stroke: $greyscale400;
          }

          path {
            stroke: $greyscale400;
          }
        }
      }

      &.q-field {
        &--highlighted,
        &--focused {
          .g-icon {
            &-search {
              circle {
                stroke: $primary;
              }

              path {
                stroke: $primary;
              }
            }
          }
        }
      }
    }
  }

  &__filter {
    display: flex;
    align-items: center;
    gap: 12px;
    width: calc(100% + 40px);
    height: auto;
    padding: 0 20px;
    margin: 24px -20px 0;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;

    .q-btn {
      &--rounded {
        box-shadow: none;
      }

      &-small {
        padding: 6px 18px;
      }
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__tabs {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: calc(100% + 40px);
    height: auto;
    padding: 0 20px;
    margin: 24px -20px 0;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;

    .q-tabs {
      &__content {
        gap: 12px;
      }

      .q-tab {
        background: transparent;
        border: 2px solid #ff5a00;
        color: #ff5a00;
        border-radius: 100px;
        padding: 6px 18px;
        min-height: 38px;

        @include hover-supported {
          color: $primary;
        }

        &__indicator {
          display: none;
        }

        &--active {
          background: $primary;
          color: $white;

          @include hover-supported {
            color: $white;
          }
        }

        &__content {
          padding: 0;
          gap: 12px;
        }

        &__label {
          font-size: $size-16;
          line-height: $lh-22;
          font-weight: 700;
        }
      }
    }
  }

  &__content {
    margin: 24px 0 0;

    .g-music-song-list {
      &__body {
        gap: 16px;
      }
    }
  }

  &__recent {
    &-header {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 0 24px;
      margin: 0 0 24px;

      .g-link {
        font-weight: 700;
        font-size: $size-16;
        line-height: $lh-22;
      }

      &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: #eee;
        content: '';
      }
    }

    &-list {
      &-item {
        &.q-item {
          min-height: 25px;
        }

        .q-item__section--main {
          font-weight: 500;
          font-size: $size-18;
          line-height: $lh-25;
          letter-spacing: 0.2px;
          color: $greyscale600;
        }
      }
    }

    &__close {
      position: relative;
      width: 24px;
      height: 24px;
      cursor: pointer;
      transition: 0.3s;

      &::before,
      &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 17px;
        height: 2px;
        content: '';
        background: $greyscale600;
        transition: 0.3s ease-in-out all;
      }

      &:hover {
        &::before,
        &::after {
          background: $primary;
        }
      }

      &::before {
        transform: translateX(-50%) translateY(-50%) rotate(45deg);
      }

      &::after {
        transform: translateX(-50%) translateY(-50%) rotate(-45deg);
      }
    }
  }

  &__not-found {
    position: relative;
    width: 100%;
    max-width: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 24px auto 0;
    text-align: center;

    &-images {
      width: 150px;

      img {
        height: auto;
        max-width: 100%;
      }
    }

    &-title {
      margin: 40px 0 0;
    }

    &-description {
      margin: 12px 0 0;
    }
  }

  &__song-list {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__artist-list {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__album-list {
    position: relative;
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
  }

  &__playlist-list {
    position: relative;
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
  }
}
