.g-checkbox {
  .q-checkbox__inner {
    width: 24px;
    height: 24px;
    font-size: 0;

    &::before {
      display: none;
    }
  }

  .q-checkbox__inner--truthy {
    background-color: $primary;
    transition: $animate-delay;

    .q-checkbox__svg {
      background-image: url("@/assets/images/icons/check.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 12px 11px;

      path {
        display: none;
      }
    }
  }

  .q-checkbox__bg {
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    border: 3px solid #ff5a00;
    border-radius: 8px;
  }

  .q-checkbox__label {
    font-size: $size-14;
    font-weight: 600;
    line-height: $lh-20;
    color: $greyscale900;
    margin: 0 0 0 12px;
  }
}

body.body--dark {
  .g-checkbox {
    .q-checkbox {
      &__label {
        color: $white;
      }
    }
  }
}
