.g-language {
  position: relative;

  &__wrap {
    display: flex;
    flex-direction: column;
  }

  &__list {
    width: 50%;
    margin: 34px 0 0 0;

    @media #{$mobile} {
      width: 100%;
    }

    .q-item {
      min-height: 25px;

      & + .q-item {
        margin: 40px 0 0 0;
      }
    }
  }
}
