.g-music-not-found {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: $white;
  height: 100%;
  min-height: 100vh;

  &__image {
    position: relative;
    font-weight: 700;
    font-size: 344px;
    line-height: 244px;
    color: $greyscale900;

    @media #{$tablet} {
      font-size: 284px;
    }

    @media #{$mobile} {
      font-size: 190px;
    }

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      content: '';
      width: 250px;
      height: 250px;
      background-image: url(@/assets/images/not-found-songs.svg);
      animation: rotate 2s linear infinite;
      background-size: cover;

      @media #{$tablet} {
        top: 10px;
        width: 220px;
        height: 220px;
      }

      @media #{$mobile} {
        top: 55px;
        width: 140px;
        height: 140px;
      }
    }

    @keyframes rotate {
      from {
        transform: rotate(0deg);
      }

      to {
        transform: rotate(360deg);
      }
    }
  }

  &__content {
    position: relative;
    margin: 24px 0 0;

    @media #{$mobile} {
      padding: 0 20px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: $size-24;
    line-height: $lh-29;
    color: $greyscale900;
    letter-spacing: 0.2px;
    text-align: center;
    margin: 24px 0 0;
  }

  &__description {
    font-weight: 400;
    font-size: $size-18;
    line-height: $lh-25;
    text-align: center;
    margin: 12px 0 0;
    max-width: 380px;
  }
}
