.g-follow-artist {
  position: relative;
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: space-between;

  &__content {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
  }

  &__picture {
    width: 80px;
    min-width: 80px;
    height: 80px;
    display: block;
    border-radius: 50%;
    overflow: hidden;

    &-default {
      background:
        linear-gradient(
          141.82deg,
          #42d0e1 0%,
          #f2e58d 32.64%,
          #fec856 50.01%,
          #f77e0c 78.11%,
          #f0de51 101.07%
        );
      animation: rotate-hue 6s alternate infinite;

      @keyframes rotate-hue {
        to {
          filter: hue-rotate(1turn);
        }
      }
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__title {
    display: inline-block;
    font-size: $size-18;
    font-weight: 700;
    line-height: $lh-22;
    color: $greyscale900;

    a {
      @include hover-supported {
        transition: $animate-delay;
        color: $primary;
      }
    }

    .g-icon {
      margin: 0 0 0 4px;
    }
  }

  &__follow {
    display: flex;
    justify-content: flex-end;
    min-width: 92px;

    .g-register__btn {
      @media #{$mobile} {
        font-size: $size-14;
        line-height: $lh-20;
      }
    }
  }
}

body.body--dark {
  .g-follow-artist {
    &__title {
      color: $white;
    }
  }
}
