.g-music-album {
  position: relative;
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: space-between;

  & + & {
    margin: 24px 0 0;
  }

  &__content {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
  }

  &__position {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    min-width: 22px;
    font-size: $size-18;
    font-weight: 700;
    line-height: $lh-22;
    color: $greyscale900;
  }

  &__picture {
    width: 80px;
    min-width: 80px;
    height: 80px;
    min-height: 80px;
    display: block;
    border-radius: 12px;

    &-default {
      background:
        linear-gradient(
          141.82deg,
          #42d0e1 0%,
          #f2e58d 32.64%,
          #fec856 50.01%,
          #f77e0c 78.11%,
          #f0de51 101.07%
        );
      animation: rotate-hue 6s alternate infinite;

      @keyframes rotate-hue {
        to {
          filter: hue-rotate(1turn);
        }
      }
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__title {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &-top {
      display: flex;
      align-items: center;
      gap: 4px;
      font-size: $size-18;
      font-weight: 700;
      line-height: $lh-22;
      color: $greyscale900;
    }

    &-description {
      display: flex;
      gap: 27px;
      font-size: $size-12;
      font-weight: 500;
      line-height: $lh-14;
      color: $greyscale700;
      letter-spacing: 0.2px;

      span {
        position: relative;

        & + span {
          &::before {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: -13.5px;
            content: "";
            width: 1px;
            height: calc(100% - 4px);
            background: $greyscale700;
          }
        }
      }
    }
  }

  &__action {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
  }
}

body.body--dark {
  .g-music-album {
    &__position {
      color: $white;
    }

    &__title {
      &-top {
        color: $white;
      }

      &-description {
        color: $white;

        span {
          &::before {
            background: $white;
          }
        }
      }
    }
  }
}
