.g-song-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 380px;
  margin: 0 auto;

  & + .g-music-song-list,
  & + .g-music-album-list {
    margin: 24px 0 0;
  }

  &__head {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__picture {
    flex-basis: 250px;
    width: 250px;
    height: 100%;
    min-height: 250px;
    border-radius: 16px;

    &-default {
      background:
        linear-gradient(
          141.82deg,
          #42d0e1 0%,
          #f2e58d 32.64%,
          #fec856 50.01%,
          #f77e0c 78.11%,
          #f0de51 101.07%
        );
      animation: rotate-hue 6s alternate infinite;

      @keyframes rotate-hue {
        to {
          filter: hue-rotate(1turn);
        }
      }
    }
  }

  &__title {
    text-align: center;
    margin: 20px 0 0;
  }

  &__artist-name {
    margin: 12px 0 0;
    font-size: $size-18;
    font-weight: 500;
    line-height: $lh-25;
    letter-spacing: 0.2px;
    color: $greyscale800;
  }

  &__info {
    position: relative;
    display: flex;
    align-items: center;
    margin: 12px 0 0;
    font-size: $size-14;
    font-weight: 500;
    line-height: $lh-20;
    letter-spacing: 0.2px;
    color: $greyscale700;

    span {
      position: relative;

      & + span {
        padding: 0 0 0 28px;

        &::before {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 13.5px;
          content: '';
          width: 1px;
          height: calc(100% - 4px);
          background: $greyscale700;
        }
      }
    }
  }

  &__main {
    position: relative;
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 0 24px;
    margin: 20px 0 0;

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: $greyscale200;
      content: '';
    }
  }

  &__actions {
    display: flex;
    gap: 32px;
    align-items: center;

    .g-icon {
      cursor: pointer;

      &-dots {
        width: 24px;
        height: 24px;
      }
    }
  }

  &__side-actions {
    .q-btn-play {
      .g-icon {
        &-loading {
          transition: $animate-delay;
          animation: rotate 1s linear infinite;

          @keyframes rotate {
            from {
              transform: rotate(360deg);
            }
          }
        }
      }

      @include hover-supported {
        .g-icon {
          &-play,
          &-pause,
          &-loading {
            path {
              fill: $primary;
            }
          }
        }
      }
    }
  }
}

body.body--dark {
  .g-song-info {
    &__artist {
      &-name {
        color: $white;
      }
    }
  }
}
