:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
}

@import 'quasar.variables';
@import 'css-ios-pwa-viewport.css';
@import 'fonts.css';
@import 'global';

html,
body,
#app {
  height: 100%;
  font-family: $fonts;
  font-size: $size-18;
  line-height: $lh-22;
  margin: 0;
  background-color: #fff;
}

.body--light {
  background: $light;
  color: $greyscale900;
}

.body--dark {
  background: $dark-1;
  color: $white;

  .g-readmore {
    color: $white;
  }
}

.q-page-container {
  height: 100%;

  .router-view-transition-wrapper {
    @media #{$mobile} {
      @supports (padding-top: constant(safe-area-inset-top)) {
        padding-top: calc(constant(safe-area-inset-top) - 22px);
      }

      @supports (padding: max(0px)) {
        padding-top: max(0px, calc(env(safe-area-inset-top) - 22px));
      }
    }
  }

  .q-page {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 18px 30px 124px;

    &.g-login,
    &.g-register {
      flex-direction: row;
      padding: 0;

      @media #{$mobile} {
        padding: 64px 24px 144px;

        @supports (padding-top: constant(safe-area-inset-top)) {
          padding-top: max(84px, calc(constant(safe-area-inset-top) + 44px));
          padding-bottom:
            max(
              144px,
              calc(constant(safe-area-inset-top) + 44px)
            );
        }

        @supports (padding-top: env(safe-area-inset-top)) {
          padding-top: max(84px, calc(env(safe-area-inset-top) + 44px));
          padding-bottom: max(144px, calc(env(safe-area-inset-top) + 44px));
        }
      }
    }

    &.g-forgot-password {
      align-items: center;
    }

    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 12px;
      padding: 8px 0;
      margin: 0 0 16px;
      min-height: 48px;

      @media #{$mobile} {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        padding: 24px 24px 16px;
        margin: 0;
        z-index: 102;

        &::before {
          width: 100%;
          height: 100%;
          content: ' ';
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
          background-color: rgb(255 255 255 / 40%);
          backdrop-filter: blur(4px);
        }

        @supports (padding-top: constant(safe-area-inset-top)) {
          padding: constant(safe-area-inset-top) 24px 16px 24px;
        }

        @supports (padding: max(0px)) {
          padding: max(24px, env(safe-area-inset-top)) 24px 16px 24px;
        }
      }

      &-title {
        display: flex;
        align-items: center;
        gap: 16px;
        width: 100%;
      }

      &-actions {
        display: flex;
        align-items: center;
        gap: 20px;

        &-dropdown {
          width: 28px;
          height: 28px;
        }
      }

      &-dropdown {
        display: flex;
      }
    }

    @media #{$mobile} {
      padding: 64px 24px 144px;

      @supports (padding-top: constant(safe-area-inset-top)) {
        padding-top: max(84px, calc(constant(safe-area-inset-top) + 44px));
        padding-bottom: max(144px, calc(constant(safe-area-inset-top) + 44px));
      }

      @supports (padding-top: env(safe-area-inset-top)) {
        padding-top: max(84px, calc(env(safe-area-inset-top) + 44px));
        padding-bottom: max(144px, calc(env(safe-area-inset-top) + 44px));
      }
    }

    &__home {
      @media #{$mobile} {
        @supports (padding-top: constant(safe-area-inset-top)) {
          padding-top: max(84px, calc(constant(safe-area-inset-top) + 64px));
          padding-bottom:
            max(
              144px,
              calc(constant(safe-area-inset-top) + 64px)
            );
        }

        @supports (padding-top: env(safe-area-inset-top)) {
          padding-top: max(84px, calc(env(safe-area-inset-top) + 64px));
          padding-bottom: max(136px, calc(env(safe-area-inset-top) + 64px));
        }
      }
    }
  }

  @media #{$mobile} {
    padding: 0 !important;
  }
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: $primary;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

.g-readmore {
  font-size: $size-16;
  font-weight: 500;
  line-height: $lh-22;
  letter-spacing: 0.2px;
  color: $greyscale800;
}

.g-link {
  color: $primary;
  font-weight: 500;
  letter-spacing: 0.2px;
  transition: $animate-delay;
  cursor: pointer;

  &:hover {
    color: $primary300;
  }
}

.q-date {
  .q-date__header {
    .q-btn--flat {
      color: $greyscale900;
    }
  }

  .q-date__calendar-item {
    .q-btn {
      font-size: $size-14;
      color: $greyscale900;
      padding: 0.285em;
    }
  }
}

.g-main-loader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__loading {
    margin: 240px 0 0;
  }
}
